<h2>Log in</h2>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username"><br /><br />
  <input type="password" name="password_hash" placeholder="password"><br /><br />
  <input type="submit" value="Log in">
</form>