.container {
  width: 640px;
  margin: 0 auto;
  border: 0px dotted #999;
}

nav {
   height: 25px;
   padding: 25px 0;
   width: 100%;
   background-color: #708090;
   border-bottom: 1px solid #999;
 }

 nav a {
   text-decoration: none;
   border: 0px solid red;
   padding: 0 40px;
   color: ivory;
 }

 nav a:hover {
   color: #333;
 }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 nav ul.left {
   margin-left: 50px;
 }

 nav li {
   float: left;
 }

 nav li.right {
   float: right;
   margin: 0 0px;
 }

 nav ul.right {
   margin-right: 50px;
 }

input {
 padding: 7px;
 font-size: 1.2em;
 width: 80%;
}